
@import "../utility/section.css";

.section {
  lost-utility: clearfix;
}

.section > div {
  @apply --large-section-left;
}

.section > div:nth-child(2) {
  @apply --large-section-right;
}

.name {
  font-size: 24px;
  text-align: right;
}

.detailSection {
  lost-utility: clearfix;
  font-size: 16px;
}

.detailSection > div {
  lost-column: 1/2;
}

.detailSection li {
  line-height: normal;
}

.projectName {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #72857D;
}

.projectName:hover {
  color: #829492;
}

.category {
  font-size: 20px;
  text-align: right;
}
