
@import "../utility/section.css";

.section {
  lost-utility: clearfix;
}

.section > div {
  @apply --large-section-left;
}

.section > div:nth-child(2) {
  @apply --large-section-right;
}

.name {
  text-align: right;
}

.summary {
  font-size: 16px;
  line-height: normal;
}

.profileSection {
  lost-utility: clearfix;
  margin: 5px 0px;
}

.profileSection > div {
  lost-column: 1/2;
  font-size: 16px;
  margin-top: 2px;
}

.profileSection a {
  text-decoration: none;
  color: #72857D;
}

.profileSection a:hover {
  color: #829492;
}

@media (width <= 650px) {
  .section > div {
    lost-column: 1/1 0;
  }

  .section > div:nth-child(2) {
    lost-column: 1/1 0;
  }

  .name {
    text-align: center;
  }
}

@media (width <= 480px) {
  .profileSection > div {
    lost-column: 1/1 0;
    margin-bottom: 2px;
  }
}
