
@import "../utility/section.css";

.section {
  lost-utility: clearfix;
}

.section > div {
  @apply --large-section-left;
}

.section > div:nth-child(2) {
  @apply --large-section-right;
}

.name {
  font-size: 24px;
  line-height: normal;
  text-align: right;
}

.detailSection {
  lost-utility: clearfix;
  font-size: 16px;
}

.detailSection > div {
  lost-column: 1/2;
}

.detailSection li {
  line-height: normal;
}

.studyType {
  font-size: 20px;
  font-weight: bold;
}

.institution {
  font-size: 20px;
  text-align: right;
}

@media (width <= 650px) {
  .section > div {
    lost-column: 1/1 0;
  }

  .section > div:nth-child(2) {
    lost-column: 1/1 0;
  }

  .name {
    text-align: center;
  }
}

@media (width <= 550px) {
  .detailSection > div {
    lost-column: 1/1 0;
  }

  .institution {
    text-align: left;
  }
}
