
@import "../utility/section.css";

.section {
  lost-utility: clearfix;

  & > div {
    @apply --large-section-left;
  }

  & > div:nth-child(2) {
    @apply --large-section-right;
  }
}

.name {
  text-align: right;
}

.detailSection {
  lost-utility: clearfix;
  font-size: 16px;

  & > div {
    lost-column: 1/2;
  }

  & li {
    line-height: normal;
  }
}

.skillName {
  font-size: 20px;
  font-weight: bold;
}

.keyword {
  margin: 2px;
  padding: 5px;
  display: inline-block;
  background-color: #72857D;
  border-radius: 5px;
  color: white;
}

@media (width <= 650px) {
  .section > div {
    lost-column: 1/1 0;

    &:nth-child(2) {
      lost-column: 1/1 0;
    }
  }

  .name {
    text-align: center;
  }
}

@media (width <= 550px) {
  .detailSection > div {
    lost-column: 1/1 0;
    margin-bottom: 5px;
  }
}
