
.section {
  lost-utility: clearfix;
}

.section > div {
  lost-column: 1/5 0;
}

.section > div:nth-child(2) {
  lost-column: 4/5 0;
}

.name {
  font-size: 24px;
  text-align: right;
}

.detailSection {
  lost-utility: clearfix;
  font-size: 16px;
}

.detailSection > div {
  lost-column: 1/2;
}

.detailSection li {
  line-height: normal;
}

.skillName {
  font-size: 20px;
  font-weight: bold;
}

.keyword {
  margin: 2px;
  padding: 5px;
  display: inline-block;
  background-color: #72857D;
  border-radius: 5px;
  color: white;
}
