
@import "../utility/section.css";

.section {
  lost-utility: clearfix;
}

.section > div {
  @apply --large-section-left;
}

.section > div:nth-child(2) {
  @apply --large-section-right;
}

.name {
  text-align: right;
}

.detailSection {
  lost-utility: clearfix;
  font-size: 16px;
}

.detailSection > div {
  lost-column: 1/2;
}

.detailContentSection {
  lost-utility: clearfix;
}

.detailContentSection > div {
  lost-column: 5/6 0 5px;
}

.detailContentSection > div:nth-child(2) {
  lost-column: 1/6 0 5px;
}

.detailContentSection ul {
  margin: 0px;
}

.detailContentSection li {
  line-height: normal;
  padding: 5px;
}

.keyword {
  margin: 0px 2px;
  padding: 5px;
  display: inline-block;
  background-color: #72857D;
  border-radius: 5px;
  color: white;
}

.position {
  font-size: 20px;
  font-weight: bold;
}

.company {
  font-size: 20px;
  text-align: right;
}

@media (width <= 650px) {
  .section > div {
    lost-column: 1/1 0;
  }

  .section > div:nth-child(2) {
    lost-column: 1/1 0;
  }

  .name {
    text-align: center;
  }
}

@media (width <= 550px) {
  .detailSection > div {
    lost-column: 1/1 0;
  }

  .company {
    text-align: left;
  }

  .detailContentSection > div {
    lost-column: 1/1 0;
  }

  .detailContentSection > div:nth-child(2) {
    lost-column: 1/1 0;
  }

  .keyword {
    display: none;
  }
}
